Docs/flujos/telegram-n8n-flow.json
{
  "name": "Telegram → API Interaction",
  "nodes": [
    {
      "id": "webhook-receive",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-webhook",
        "options": {
          "responseData": "lastNode",
          "rawBody": false
        }
      }
    },
    {
      "id": "set-headers",
      "name": "Set Headers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "X-Api-Key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{ 'tg-' + $json.message.message_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      }
    },
    {
      "id": "build-body",
      "name": "Build Request Body",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "source",
              "value": "telegram"
            },
            {
              "name": "user",
              "value": "={{ $json.message.from.id }}"
            },
            {
              "name": "payload",
              "value": "={{\n  JSON.stringify({\n    message_id: $json.message.message_id,\n    text: $json.message.text,\n    chat_id: $json.message.chat.id,\n    date: $json.message.date\n  })\n}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      }
    },
    {
      "id": "http-request",
      "name": "POST Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL || 'https://your-ngrok-url.ngrok.io' }}/api/v1/interactions/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $json.X-Api-Key }}"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{ $json['X-Idempotency-Key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "retryOnFail": true,
          "maxTries": 3,
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300],
      "parameters": {
        "options": {
          "responseData": "json",
          "responseBody": "={{ $json }}"
        }
      }
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Set Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Headers": {
      "main": [
        [
          {
            "node": "Build Request Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Request Body": {
      "main": [
        [
          {
            "node": "POST Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Interaction": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "telegram-interaction-v1",
  "triggerCount": 1
}
